<c-card>
  <c-card-header>
    <strong>Edit Procedure</strong>
  </c-card-header>
  <c-card-body>
    <form #procedureForm="ngForm" (ngSubmit)="guardar(procedureForm)">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="procedimiento.name"
          name="name"
          required
          #name="ngModel"
        />
        <div *ngIf="name.invalid && name.touched" class="text-danger small">
          Name is required
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Category</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="procedimiento.category"
          name="category"
          required
          #category="ngModel"
        />
        <div *ngIf="category.invalid && category.touched" class="text-danger small">
          Caregory is required
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)" accept="application/pdf" />
      </div>

      <div class="mb-3" *ngIf="pdfSrc">
        <div class="mb-3" *ngIf="pdfSrc">
          <pdf-viewer
            [src]="pdfSrc"
            [render-text]="true"
            [show-all]="true"
            style="height: 500px; display: block;"
          ></pdf-viewer>
        </div>
        
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="procedureForm.invalid">
        Save
      </button>
    </form>
  </c-card-body>
</c-card>
